#feedbacks{
  margin-top: -180px;
  background-color: #FF4C29;
  position: relative;
  max-width: 50%;
  margin-bottom: 100px;

}

.feedback-box{
  position: absolute;
}

.feedback-content{
  background-color: #FFFFFF;
  color:#FF4C29;
  align-items: start;
  border-color: #FF4C29;
  border-style: solid;
  border-width: 0 3px 3px 3px;
  display: flex;
  flex-direction: column;
}

#feedbacks > div > h1{
  color: #082032;
  padding-top: 8px;
  text-align: center;
}
