<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<pre>
  <code class="language-ruby">
    puts "teste de código"
    array = [1, 2, 3, 4, 5]
  </code>
  <code class="language-css">p { color: red }</code>
</pre>
