<%= render partial: "ai/submission_form", locals: { uuid: @uuid } %>
<%= turbo_stream_from "channel_#{@uuid}" %>

<div id="ai_output">
  <% render partial: "ai/output", locals: { generated_answers: "" } %>
</div>

<div id="donation-cta">
  <%= link_to 'Faça uma doação', donations_path, :class => "btn btn-primary donation-home" %>
</div>
