


  <div class="container donate">
    <p>Clique abaixo e faça sua contribuição </p>
    <div class="m-5">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle highlight" data-bs-toggle="dropdown">Escolha o valor </button>
            <div class="dropdown-menu">
                <% @donations.each do |donation| %>

                  <%= link_to humanized_money_with_symbol(donation.price), donation_path(donation), :class => "dropdown-item" %>
                <% end %>
            </div>
        </div>
    </div>
  </div>
