  <div class="container payment">
    <p class="contribuition">Clique abaixo e faça sua contribuição </p>
      <%= simple_form_for @order do |f| %>
        <%= f.input :donation, label: false do %>
          <%= f.select :donation, @donations.map { |d| [humanized_money_with_symbol(d.price), d.id] }, prompt: "Escolha o valor"%>
        <% end %>
        <%= f.submit "Doar", class: "btn btn-primary"%>
      <% end %>
  </div>
