#hits{
  width: 75%;
}

.accordion-button{
  // margin-right: 20px;
  color: #e72a04;
  /*color: #8f3b2c;*/
  background-color:#c6d2d8;
  width: -webkit-fill-available;
  margin-right: 0;
}

.accordion{
--bs-accordion-active-color: #e72a04;
--bs-accordion-active-bg: #eff6fe;
--bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #e2735d76;
--bs-accordion-btn-active-icon: url(seta_cima.png);
}

.accordion-button::after{
  background-image: url(seta_baixo.png);
}




.accordion-item {
  /*background-color: #b1bdc6;*/
  background-color: #dec2bd;
}
h2.accordion-header{
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  color: #e72a04;
  background-color: #cfdae0;
}
