.btn-primary.highlight{
  background-color: #FF4C29;
  border-color: #FF4C29;
  --bs-btn-active-bg: #8e311e;
  --bs-btn-active-border-color: #FF4C29;
}

a.btn.btn-primary.out{
  color: #f8bcaf;
  background-color: #8f3b2c;
  --bs-btn-border-color: #FF4C29;
}
