.footer {
  background: #334756;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  color: #FF4C29;
  width: 100%;
  margin-top: 50px;
  padding-left: 100px;
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  line-height: 80px; /* Vertically center the text there */
}
