.footer {
  background: #082032a6;
  /*background: #0a2d48a6;*/
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 80px;
  color: #e1e9ed;
  /*color: #FF4C29;*/
  width: 100%;
  margin-top: 50px;
  padding-left: 0px;
  position: absolute;
  bottom: 0;
  line-height: 80px;
}
