.modal-form{
  background-color: #FFFFFF;
  height: 200px;
  display: block;
  margin-top: 0px;
  position: sticky;
  z-index: 10;
  width: 100%;
}

#exampleModal > div > div > div.modal-body > form > div.modal-footer > button.btn.btn-primary{
  --bs-btn-disabled-bg: #e72a04;
  --bs-btn-disabled-border-color: #e72a04;
}
