.navbar-lewagon {
  justify-content: space-between;
  background: #082032;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand{
  margin: auto;
  display: block;
}

img{
  width: 200px;
  height: 200px;
}
