.navbar-lewagon {
  justify-content: space-between;
  background: #082032;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand{
    width: 450px;
    margin: auto;
    display: block;
}



img.logo {
  width: 350px;
  height: 80px;
  margin-top: 80px;
  margin-left: 50px;
}


.texto-banner{
  width: 100%;
  text-align: center;
}
